@model Assigment8.Controllers.ArtistWithDetail

@{
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <div class='btn-toolbar pull-right'>
        <div class='btn-group pull-right'>  
            @Html.ActionLink("Add Media Item", "AddMediaItem", "Artists", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Create New Album", "Create", "Albums", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
    <h1>Artist - @Model.Name</h1>
</div>

<div class="row">

    <div class="col-md-8">

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.BirthName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BirthOrStartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthOrStartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Executive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Executive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Genre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile)
            </dt>

            <dd>
                <div class="panel panel-default panel-body">
                    @Html.Raw(Model.Profile)
                </div>
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Albums)
            </dt>

            <dd>
                <ul class="list-unstyled">
                    @foreach (var item in Model.Albums)
            {
                        <li>@Html.ActionLink(item.Name, "Details", "Albums", new { id = item.Id }, null)</li>
                    }
                </ul>
            </dd>

            <dt>
                Media Items
            </dt>

            <dd>
                <ul class="list-unstyled">
                    @foreach (var item in Model.MediaItems)
                    {
                        switch (item.ContentType)
                        {
                            case "audio/mp3":
                                <li>
                                    <audio src="/mediaitem/@item.StringId" controls="controls">
                                        Your browser does not support the
                                        <code>audio</code> element.
                                    </audio>
                                </li>
                                break;
                            case "image/jpeg":
                            case "image/png":
                            case "image/gif":
                                <li>
                                    <div class="thumbnail">
                                        <img src="/mediaitem/@item.StringId" />
                                        <div class="caption text-center">
                                            @item.Caption
                                        </div>
                                    </div>
                                </li>
                               
                                break;
                            default:
                                <li>Download @item.ContentType <a href="/mediaitem/@item.StringId" target="_blank">here</a></li>
                                break;
                        }
                    }
                </ul>
            </dd>


        </dl>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="@Model.UrlArtist" />
            <div class="caption text-center">
                @Html.DisplayNameFor(model => model.UrlArtist)
            </div>
        </div>
    </div>

</div>